Pong game/bounce.wav
Pong game/pong by @ricemuscle.py
Pong game/pong_v8.py
task.dat
Web_To_Do_app/db.sqlite3
Web_To_Do_app/manage.py
Web_To_Do_app/templates/todo.html
Web_To_Do_app/todo/__init__.py
Web_To_Do_app/todo/admin.py
Web_To_Do_app/todo/apps.py
Web_To_Do_app/todo/models.py
Web_To_Do_app/todo/tests.py
Web_To_Do_app/todo/views.py
Web_To_Do_app/todo/migrations/__init__.py
Web_To_Do_app/todo/migrations/0001_initial.py
Web_To_Do_app/todo/migrations/0002_todoitem_content.py
Web_To_Do_app/web_todo_project/__init__.py
Web_To_Do_app/web_todo_project/asgi.py
Web_To_Do_app/web_todo_project/settings.py
Web_To_Do_app/web_todo_project/urls.py
Web_To_Do_app/web_todo_project/wsgi.py
Pipfile
Pipfile.lock
.vscode/settings.json
Amazon_scraper/Amazon_scraper_v1.py
Kayak_scraper/Kayak_scraper.py
msg_automation/messages.py
